.primary-content{
    background-color: var(--off-white);
    /* min-height: 80vh; */
    height: max-content;
    text-align: center;
    padding: 2rem 0;
}

.primary-content-input{
    outline: none;
    border: none;
    padding: 0.7rem;
    height: 100%;
    flex-grow: 1;
    font-size: 1.2rem;

}

.primary-content-wrap{
    border: 2px solid var(--primary-color);
    width: fit-content;
    margin: 0 auto;
    border-top-right-radius: 0.4rem ;
    border-bottom-right-radius: 0.4rem;
    display: flex;
    width: 60%;
}

.smaller{
    padding: 0.7rem;
    font-size: 1rem;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
}
